@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Averta";
  src: url("/fonts/Averta-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Averta";
  src: url("/fonts/Averta-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Averta";
  src: url("/fonts/Averta-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Recoleta";
  src: url("/fonts/Recoleta-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Recoleta";
  src: url("/fonts/Recoleta-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  @apply bg-sand font-averta text-purple;
}
